{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node", "prettier"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "linebreak-style": ["warn", "unix"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "react/self-closing-comp": "warn",
    "@typescript-eslint/member-delimiter-style": "warn",
    "@typescript-eslint/no-explicit-any": ["warn"],
    "object-curly-spacing": ["warn", "always"]
  }
}
